doctype html
html
    head
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(src="/javascripts/game.js", type="text/javascript")
  body
      div#board_div
          table#board_table
              - for (var i = 0; i < ROWS; i++)
                  tr.board_row
                      - for (var j = 0; j < ROWS; j++)
                          td.board_sq(id=`sq_${i}_${j}`)
      div
        p#square_info
      div
        p#model_info
      div
        p#target_info


